{{template "base" .}}

{{define "content"}}

  <div class="container">
    <div class="row align-items-start">
      <div class="col">
          <h1>Hello, There is Your About Page!</h1>
          <p>This is a paragraph of text</p>
          <p>This came from the template:  {{index .StringMap "test"}}</p>

          <p>

            {{if ne (index .StringMap "remote_ip") ""}}

              Your IP Address is {{index .StringMap "remote_ip"}}

            {{else}}
              
              I dont know Your IP Address yet. Visit the <a href="/">Homepage</a> So I Can Set It.

            {{end}}


          </p>
      </div>
    </div>
  </div>

{{end}}


